@tailwind base;
@tailwind components;
@tailwind utilities;

p {
  font-size: 1rem;
  line-height: 1.5;
  margin: 0 0 1.5rem 0;
}

h3 {
  font-size: 1.1rem;
  line-height: 1.5;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

h4 {
  font-size: 1rem;
  line-height: 1.5;
  padding-top: 2rem;
}

ol {
  list-style-type: decimal;
  margin: 0 0 1rem 0;
  padding-left: 1.5rem;
}

li {
  font-size: 1rem;
  line-height: 1.5;
  margin: 0 0 1rem 0;
}
